.listen-music {
    min-height: 100vh;
    position: relative;
    .mtb-24 {
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .section-album:not(:first-child) {
        margin-top: 20px;
    }
    &-playingbar {
        position: sticky;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
