@import "./reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap");

@font-face {
    font-family: GoogleSans;
    src: url(./libs/fonts/GoogleSans-Regular.ttf);
}

@font-face {
    font-family: GoogleSans-Bold;
    src: url(./libs/fonts/GoogleSans-Bold.ttf);
}

@page {
    size: auto;
    margin: 0mm;
}

body {
    font-family: GoogleSans, sans-serif;
}
:root {
    font-size: 62.5%;
}
.app {
    --color-text: rgb(44, 44, 44);
    --color-primary: rgb(13, 134, 255);
    --color-secondary: rgb(111, 81, 255);
    --border-radius: 8px;
    --box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    --background-page: rgb(234, 236, 237);
    --background-section: rgb(255, 255, 255);
    --colorBorder: rgb(237, 241, 244);
    --color-edit: blue;
    --color-delete: red;
    --color-active-sidebar: rgb(13, 134, 255);
    --color-background-hover-sidebar: rgba(255, 255, 255, 0.1);
    --color-scrollbar: rgb(49, 49, 49);
    --color-background-scrollbar: rgb(128, 128, 128);

    --color-text-profile: rgb(68, 86, 108);
    --color-background-section-secondary: rgb(240, 243, 244);
}

.app[toggledarkmode="true"] {
    --color-text: rgb(255, 255, 255);
    --background-page: rgb(18, 18, 18);
    --background-section: rgb(24, 24, 24);
    --colorBorder: rgb(212, 212, 212);
    --color-active-sidebar: rgb(255, 255, 255);
    --color-background-hover-sidebar: rgba(000, 000, 000, 0.1);
    --color-scrollbar: rgb(206, 206, 206);
    --color-background-scrollbar: rgb(128, 128, 128);

    --color-text-profile: rgb(222, 221, 224);
    --color-background-section-secondary: rgb(34, 34, 34);
}

body {
    overflow-y: hidden;
}

.app {
    font-size: 1.4rem;
    height: 100vh;
    color: var(--color-text);
    background-color: var(--background-page);
    overflow-y: auto;
    @page {
        size: auto;
        margin: 0mm;
    }
    // Width
    ::-webkit-scrollbar {
        width: 4px;
    }
    // Track
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px var(--color-background-scrollbar);
        border-radius: 10px;
    }
    // Handle
    ::-webkit-scrollbar-thumb {
        background: var(--color-scrollbar);
        border-radius: 4px;
    }
    // Handle on hover
    ::-webkit-scrollbar-thumb:hover {
        background: var(--primary);
    } // Width
}

.table {
    width: 100%;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}

.form-input {
    padding: 6px 12px;
    border-radius: 6px;
    border: 1px solid #e2e2e2;
    height: 40px;
    width: 100%;
    &:focus {
        outline: 0;
        box-shadow: 0 0 0 2px rgba(var(--color-primary), 0.2);
    }
    &:not(:first-of-type) {
        margin-top: 10px;
    }
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
}
.btn-large {
    padding: 10px 24px;
}
.btn-default {
    background: none;
    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
}
.btn-primary {
    border-color: var(--color-primary);
    background-color: var(--color-primary);
    color: #ffffff;
}

.layout-sidebar {
    width: 250px;
    background: var(--color-gradient);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    background: var(--background-section);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    &::-webkit-scrollbar {
        width: 0;
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background: rgb(49, 49, 49);
        border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: var(--primary);
    }
    .action {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px 20px;
        background: #b6b6b6;
    }
    &[togglesidebar="false"] {
        width: 80px;
    }
}

.layout-main {
    margin-left: 250px;
    min-height: 100vh;
    position: relative;
    .layout_main__content {
        position: relative;
    }
    &[togglesidebar="false"] {
        margin-left: 80px;
    }
}

.layout-header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 250px;
    right: 0;
    padding: 15px;
    background-color: var(--background-section);
    height: var(--height-layout-header);
    display: flex;
    align-items: center;
    &[togglesidebar="false"] {
        left: 80px;
    }
}
.layout-main__breadcrum {
    margin-bottom: 24px;
}

.layout-main {
    .listen-music {
        &-playingbar {
            position: fixed;
            bottom: 0;
            right: 0;
            left: 250px;
        }
    }
    &[togglesidebar="false"] {
        .listen-music {
            &-playingbar {
                left: 80px;
            }
        }
    }
}